<div class="navbar navbar-inverse navbar-chat">
  <div class="container">
    <a href="/chatroom" class="navbar-brand title-chat"><%= chatRoomName %></a>
  </div>
</div>
<div class="dashboard-chatroom">
  <% if(messages.data) { %>
  <% _.each(messages.data, function(message){%>
  <p> <%= message.content %> </p>
  <% }); } %>

</div>
<div class= "footer-chatroom">
  <div class="box-message">
    <input type="text" name="text" value="" placeholder="Write your message" class="form-control text-chatroom">
    <input type="submit" name="" value="Send" style="border-radius: 0px;" class="btn btn-success">
  </div>
</div>
